@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #ffffffff;
  margin-top: 60px;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: fixed;
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f5f5f5;
  padding: 24px;
  border-radius: 0px 0px 30px 0px;
  transition: all 0.3s;
  border: 1px solid rgb(190, 182, 182);
  top: 60px;
  z-index: 1;
}

.sidebar .head {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.user-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  object-fit: cover;
}
.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: rgba(114, 179, 222, 0.882);
}

.menu ul li .icon {
  font-size: 20px;
  transition: transform 0.3s;
}

.menu ul li .text {
  flex: 1;
}

.menu ul li .bx {
  font-size: 14px;
}

.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: #f5f5f5 !important;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}

.sidebar.active {
  width: 92px;
}

.sidebar.active .menu-btn {
  right: -14px !important;
  transform: translateY(-50%) rotate(180deg) !important;
}

.sidebar.active .user-details {
  display: none;
}

.sidebar.active .menu .title {
  text-align: center;
}

.sidebar.active .menu ul li .bx {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 0;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: calc(100% + 15px) !important;
  top: 50% !important;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  min-width: 120px;
  white-space: nowrap;
  visibility: visible;
}

.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #333;
  transform: rotate(45deg);
  z-index: -1;
  left: -5px;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
