.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Điều chỉnh chiều cao phù hợp */
  background-color: #d6ebff;
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.logo i {
  margin-right: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #cbdff6;
  border-radius: 5px;
  padding: 5px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  width: 500px;
}

.search-box button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn {
  background: #b3d9ff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #99c2ff;
}

.fa-bell {
  font-size: 18px;
  cursor: pointer;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
